@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@300&family=Borel&family=Bungee+Spice&family=Handjet:wght@300&family=Lobster&family=Roboto+Condensed:ital@1&display=swap');

/* body work  */
body{
    margin: 0;
    padding: 0;
    height: 1000px;
    width: 100%;
}

.stick{
    position: sticky;
    top: 0;
    
}


/* fonts  */
.spicy-font{
    font-family: 'Bungee Spice', cursive;

}
.liny-font{
    font-family: 'Big Shoulders Inline Text', cursive;

}
.handwritten-font{
    font-family: 'Borel', cursive;


}
.condensed-font{
    font-family: 'Roboto Condensed', sans-serif; 

}
.dotted-font{
    font-family: 'Handjet', cursive;
    

}
.normal-font{
font-family: 'Lobster', cursive;

}




/* navbar  */
nav{
    display: block;
    height: 7vh;
}
.nav-logo{
    font-size: 5vh;
    text-align: center;
}
.nav-items ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;  
}
.nav-items li{
    justify-content: space-around; 
    font-size: 3vh; 
    border-radius: 5px;
    border-color: black;
    border: 10px;
    display: inline-block;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.nav-items li:hover{
    background-color: rgb(233, 235, 236);

}

a{
    text-decoration: none;
}



/* card  */
.cards-title{
    font-size: 70px;
    text-align: center;
}
.cards-dash{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.card{
    display:inline-block;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    height: fit-content;
}
.card-image img{
    width: 220px;
    margin-bottom: 20px;
    margin-top: 40px;
    border: double;
    border-radius: 10px;
    padding: 20px;
}
.card-text{
    border: double;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    margin-bottom: 40px;
    margin-top: 20px;

    
}